<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>账户绑定成功</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div class="container">
    <div class="icon-success"></div>
    <p class="succes-text">来牛账户手机号已经绑定</p>
    <p class="succes-text am-mt-10">绑定手机号：<span>13757147879</span></p>
</div>
</body>
</html>
<script>

</script>
